name: Codacy Security Scan

on:
  pull_request:
    branches: [ "dev**", "qa**", "main"]
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  Build:
    name: Build Backend 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@main
      - name: Remove Example Properties File 
        run: rm src/main/resources/application_local.properties 
      - name: Rename Properties File 
        run: mv src/main/resources/application.properties.j2 src/main/resources/application.properties
      - name: Setup Java JDK
        uses: actions/setup-java@v3.10.0
        with: 
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build SprintBoot Application 
        run: mvn clean package -DskipTests=true 
      - name: Rename WAR Artifact 
        run: mv ./target/Bento-0.0.1.war ./target/ROOT.war 
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: build-artifact
          path: ./target/
  Codacy:
    name: SpotBugs SAST (via Codacy)
    needs: Build
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout Code
        uses: actions/checkout@main
      - name: Download Build Artifact
        uses: actions/download-artifact@v2.1.1 
        with:
          name: build-artifact
      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          tool: spotbugs
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          upload: true
          max-allowed-issues: 2147483647
          verbose: true
          allow-network: true 
          skip-uncommitted-files-check: true
          force-file-permissions: true

