name: Codacy Security Scan

on: [workflow_dispatch]
  # pull_request:
  #   branches: [ "dev**", "qa**" ]

jobs:
  build-backend:
    name: Build Backend 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
      - name: Remove Example Properties File 
        run: rm src/main/resources/application_local.properties 
      - name: Confirm Directory Creation 
        run: cd ./src/main && ls -la 
      - name: Build SprintBoot Application 
        run: mvn clean package -DskipTests=true 
      - name: Rename WAR Artifact 
        run: mv ./target/Bento-0.0.1.war ./target/ROOT.war 
      - name: Confirm WAR Artifact 
        run: cd ./target && ls -la
      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          tool: spotbugs
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          upload: true
          max-allowed-issues: 2147483647
          verbose: true
          format: sarif 
          tool-timeout: 1hour
          allow-network: true 