name: Codacy Security Scan

on:
  pull_request:
    branches: [ "dev**", "qa**" ]
  push:
    branches: [ "main" ]

jobs:
  build-backend:
    name: Build Backend 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
      - name: Remove Example Properties File 
        run: rm src/main/resources/application_local.properties 
      - name: Build SprintBoot Application 
        run: mvn clean package -DskipTests=true 
      - name: Rename WAR Artifact 
        run: mv ./target/Bento-0.0.1.war ./target/ROOT.war 
      - name: Run Codacy Analysis CLI
        uses: codacy/codacy-analysis-cli-action@master
        with:
          tool: spotbugs
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          upload: true
          max-allowed-issues: 2147483647
          verbose: true
          format: sarif 
          output: results.sarif
          tool-timeout: 1hour
          allow-network: true 
          skip-uncommitted-files-check: true
          gh-code-scanning-compat: true

      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@main
        with:
          sarif_file: results.sarif
